<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Add task</h3>
    </div>
    <div class="modal-body">

      <form name="modalForm">

          <div class="form-group">
            <label for="title">Title:</label>
            <input ng-required="true" ng-model="addedTask.title" type="text" class="form-control" id="title">
          </div>

          <div class="form-group">
            <label for="category">Category:</label>
            <input ng-required="true" ng-model="addedTask.category" type="text" class="form-control" id="category">
          </div>

          <div class="form-group">
          <label for="date">Date:</label>
          <p><span class='input-group date' id='datetimepicker1'><input type='text' name="dateTimeInput" class="form-control" data-ng-model="addedTask.date"/><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </span>
                </p>
           </div>

          <div class="form-group">
            <label for="priority">Priority:</label>
            <input ng-model="addedTask.priority" type="text" class="form-control" id="priority">
          </div>

          <div class="form-group">
            <label for="priority">Description:</label>
            <input ng-model="addedTask.description" type="text" class="form-control" id="description">
          </div>

        </div>
        <div class="modal-footer ">
            <button ng-disabled="modalForm.$invalid" class="btn btn-primary" data-ng-click="ok()"> <i class="glyphicon glyphicon-ok"></i> Add task</button>
            <button class="btn btn-danger" ng-click="cancel()"> <i class="glyphicon glyphicon-remove"></i> Cancel adding</button>
        </div>
      </form>
</div>

<script type="text/javascript">
$(function () {
    $('#datetimepicker1').datetimepicker({
        useStrict: true,
        format: 'YYYY-MM-DD HH:mm',
        stepping: 15,
        allowInputToggle: true
    });
});
</script>
</body>
</html>
