<!DOCTYPE html>
<html>
<style>

.selected {
    background-color: #337AB7;
    color:white;
}
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #337AB7;
    color:white;
}
</style>

<body>
  <div class="container">
    <div class="jumbotron">
      <section>
          <h2>TODOS</h2>

          <div class="form-group">
              <label for="filter">Filter by genre:</label>
              <input ng-model="filterGenre" type="text" class="form-control" id="filter">
          </div>
          <div class="form-group">
              <label for="filter">Filter by title:</label>
              <input ng-model="filterTitle" type="text" class="form-control" id="filter">
          </div>
          <div class="form-group">
              <label for="filter">Filter by release year:</label>
              <input ng-model="filterYear" type="text" class="form-control" id="filter">
          </div>
          <div class="form-group">
              <label for="filter">Filter by author:</label>
              <input ng-model="filterAuthor" type="text" class="form-control" id="filter">
          </div>

          <table class="table table-striped table-bordered table-hover">
              <tr>
                <th>
                  Task title
                </th>
                <th>
                  Task category
                </th>
                <th>
                  Task priority
                </th>
                <th>
                  Task description
                </th>
                <th>
                  Task date
                </th>
              </tr>
             <tr ng-click="setSelected(book)" ng-repeat="book in books | filter:{genre: filterGenre} | filter:{author: filterAuthor} | filter:{title: filterTitle} | filter:{year: filterYear} | orderBy : 'year'">
                <td>
                  <strong>{{book.title}}</strong>
                </td>
                <td>
                  {{book.genre}}
                </td>
                <td>
                  {{book.author}}
                </td>
                <td>
                  {{book.year}}
                </td>
                <td>
                  {{book.title}}
                </td>
              </tr>
          </table>

          <div>
            <button ng-click="openModal()" type="button" class="btn btn-primary">Add a book</button>
            <button ng-click="openEditModal()" type="button" class="btn btn-primary">Edit a book</button>
            <button type="button" class="btn btn-danger"  ng-click="removeBook(selectedRow)" style="width: 150px;" ng-hide="selectedRow === null">Remove</button>
          </div>
      </section>
    </div>
  </div>

</body>
</html>
